<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63956904600-7cjuuvqu3g32afgcp5a5v2i2f7fmkq48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63956904600-7cjuuvqu3g32afgcp5a5v2i2f7fmkq48</string>
	<key>API_KEY</key>
	<string>AIzaSyBsQPVgboCmFdoGgp4hrisIL5x_6bCkOB8</string>
	<key>GCM_SENDER_ID</key>
	<string>63956904600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodSocialMedia</string>
	<key>PROJECT_ID</key>
	<string>foodophilic-13a30</string>
	<key>STORAGE_BUCKET</key>
	<string>foodophilic-13a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63956904600:ios:891da06247c6e131c53eed</string>
</dict>
</plist>